<div class="flex flex-col gap-2 w-full mt-2">
  <label class="text-[10px] font-black text-slate-400 uppercase tracking-widest ml-1">
    {{ label() }}
  </label>

  <div class="relative flex items-center">
    <input [type]="type()" [formControl]="control()" [placeholder]="placeholder()" [class.border-red-300]="errorMessage"
      [class.pl-9]="icon()"
      class="w-full px-3 py-4 bg-slate-50 border border-slate-100 rounded-2xl text-sm font-semibold text-slate-700
            focus:outline-none focus:ring-4 focus:ring-blue-50 focus:bg-white focus:border-blue-200 transition-all shadow-sm" />

    @if (icon()) {
    <span class="material-icons absolute left-2 text-slate-400 select-none">
      {{ icon() }}
    </span>
    }

    @if (type() === 'password' && !icon()) {
    <span class="material-icons absolute right-5 text-slate-300 select-none">
      lock
    </span>
    }
  </div>

  @if (errorMessage) {
  <span class="text-[10px] font-bold text-red-500 ml-2 animate-in fade-in slide-in-from-top-1">
    ⚠️ {{ errorMessage }}
  </span>
  }
</div>
