<div class="p-1">
  <header class="mb-6">
    <h1 class="text-2xl text-center font-bold md:my-10 text-gray-800">Parámetros del Sistema</h1>
  </header>
  <div class="flex justify-center md:p-6">

    <mat-card class="shadow-lg border-t-4 border-primary mt-6 md:mt-14 w-full max-w-5xl border-primary">
      <mat-tab-group dynamicHeight animationDuration="1000ms" mat-stretch-tabs="false" mat-align-tabs="center">

        <mat-tab label="Items de Examen">
          <div class="p-4">
            <app-tabla-maestra titulo="Items de Examen" color="border-blue-500" [columnas]="['nombre', 'material']"
              [datos]="listaItems()">
            </app-tabla-maestra>
          </div>
        </mat-tab>

        <mat-tab label="Jornadas">
          <div class="p-4">
            <app-tabla-maestra titulo="Jornadas" color="border-red-500" [columnas]="['id', 'nombreJornada']"
              [datos]="listaJornadas()">
            </app-tabla-maestra>
          </div>
        </mat-tab>
        <mat-tab label="Cargos">
          <div class="p-4">
            <app-tabla-maestra titulo="Cargos" color="border-blue-500" [columnas]="['id','nombreCargo']"
              [datos]="listaCargos()">
            </app-tabla-maestra>
          </div>
        </mat-tab>

        <mat-tab label="Empresas">
          <div class="p-4">
            <app-tabla-maestra titulo="Empresas" color="border-red-500" [columnas]="['id', 'nombreEmpresa']"
              [datos]="listaEmpresas()">
            </app-tabla-maestra>
          </div>
        </mat-tab>



      </mat-tab-group>
    </mat-card>
  </div>
</div>
