<div class="grid grid-cols-1 lg:grid-cols-[minmax(300px,55%)_1fr] md:gap-3 h-full">

  <div class="flex flex-col">

    <app-tabla-maestra titulo="Inspecciones SST" (onEdit)="seleccionarFila($event)" [datos]="listaInspecciones()"
      [columnas]="colsInspeccion()">

      <ng-template #plantillaCelda let-item let-columna="columna">
        @switch (columna.key) {
        @case ('fecha') {
        <span class="text-base text-slate-600 italic">
          {{ item.fecha | date:'dd/MM/yyyy HH:mm' }}
        </span>
        }
        @case ('calificacionEva') {
        <div class="flex items-center gap-2">
          <span [class]="getEvaColor(item.calificacionEva)" class="w-3 h-3 rounded-full"></span>
          <span class="font-bold">{{ item.calificacionEva }}</span>
        </div>
        }
        @default {
        <span class="text-sm text-slate-600">{{ item[columna.key] }}</span>
        }
        }
      </ng-template>

    </app-tabla-maestra>
  </div>

  <div class="grid lg:grid-rows-[minmax(300px,45%)_1fr] h-full gap-3 overflow-hidden">

    <div class="min-h-0">
      @if (itemSeleccionado()) {
      <app-items-component [items]="itemSeleccionado().itemsList"></app-items-component>
      } @else {
      <div
        class="flex flex-col items-center justify-center h-full text-slate-400 border-2 border-dashed border-slate-200 rounded-xl">
        <mat-icon class="text-4xl mb-2">touch_app</mat-icon>
        <p>Selecciona una inspección</p>
      </div>
      }
    </div>

    <div class="min-h-0 overflow-hidden"> @if (itemSeleccionado()) {
      <app-sintomatologia-component [datos]="itemSeleccionado()"></app-sintomatologia-component>
      }
    </div>

  </div>


</div>
