<section class="py-20 ">
  <div class="max-w-7xl mx-auto px-4">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-12 items-center">
      <div class="text-center md:text-left">
        <h1 class=" text-4xl md:text-6xl font-extrabold text-slate-800 tracking-tight">
          La seguridad de tu equipo médico, automatizada y bajo control.
        </h1>
        <p class="text-lg text-slate-600 mt-6 leading-relaxed">
          WorkScan simplifica el cumplimiento de la normativa SST. Gestiona exámenes, riesgos y reportes en una
          plataforma
          diseñada para clínicas y centros de salud modernos.
        </p>
        <div class="flex gap-4 mt-10 justify-center md:justify-start">
          <button
            class="text-white bg-blue-600 py-3 px-5 rounded-2xl border font-medium shadow-lg shadow-blue-200 hover:shadow-blue-300">Comenzar
            ahora</button>
          <button class="text-blue-600 border border-blue-600  py-3 px-5 rounded-2xl hover:bg-blue-50">Ver
            demostración</button>
        </div>
      </div>
      <div class="relative">
        <img src="https://images.pexels.com/photos/7088524/pexels-photo-7088524.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=" alt=""
          class="rounded-3xl shadow-2xl hover:rotate-1 transition-transform duration-300">
      </div>
    </div>
  </div>
</section>
