<div class="p-6 bg-slate-50 min-h-full">
  <div class="max-w-5xl mx-auto">

    <header class="mb-8">
      <h1 class="text-3xl font-black text-slate-800 tracking-tight">Nueva Inspección SST</h1>
      <p class="text-slate-500">Completa los pasos para registrar la evaluación biomecánica.</p>
    </header>

    <mat-stepper linear #stepper class="rounded-3xl shadow-xl border border-slate-100 overflow-hidden"
    [selectedIndex]="3"
    >

      <mat-step [stepControl]="datosBasicosForm">
        <form [formGroup]="datosBasicosForm" class="p-8">
          <ng-template matStepLabel>Trabajador</ng-template>

          <div class="max-w-4xl mx-auto space-y-6">

            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Seleccionar Trabajador</mat-label>
              <mat-select formControlName="idTrabajador" (selectionChange)="onTrabajadorChange($event.value)"
                (openedChange)="onSelectOpened($event)">

                <div class="px-4 py-2 sticky top-0 bg-white z-10 border-b border-slate-100">
                  <div class="flex items-center gap-2 bg-slate-50 px-3 py-1 rounded-xl border border-slate-200">
                    <mat-icon class="text-slate-400 !text-sm flex items-center justify-center">search</mat-icon>
                    <input matInput placeholder="Escribe para filtrar..." [formControl]="filtroTrabajador"
                      (keydown)="$event.stopPropagation()" class="text-sm bg-transparent outline-none w-full py-2">
                  </div>
                </div>

                @for (t of listaTrabajadores(); track t.id) {
                <mat-option [value]="t.id">
                  <span class="font-bold text-slate-700">{{ t.cedula }} </span>
                  <span class="text-slate-500 ml-2">{{ t.nombres }} {{ t.apellidos }}</span>
                </mat-option>
                } @empty {
                <mat-option disabled>No se encontraron resultados</mat-option>
                }
              </mat-select>
            </mat-form-field>

            @if (trabajadorSeleccionado()) {
            <div
              class="grid grid-cols-1 md:grid-cols-2 gap-4 p-6 bg-slate-50 rounded-3xl border border-slate-200 border-dashed animate-in fade-in zoom-in duration-300">

              <div class="col-span-full flex items-center gap-2 mb-2">
                <div class="h-2 w-2 rounded-full bg-blue-500"></div>
                <span class="text-[10px] font-black uppercase text-slate-500 tracking-widest">Información de
                  Verificación</span>
              </div>

              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Nombres y Apellidos</mat-label>
                <input matInput [value]="trabajadorSeleccionado()?.nombres + ' ' + trabajadorSeleccionado()?.apellidos"
                  readonly>
                <mat-icon matPrefix class="mr-2 text-slate-400">person</mat-icon>
              </mat-form-field>

              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Documento</mat-label>
                <input matInput [value]="trabajadorSeleccionado()?.cedula" readonly>
                <mat-icon matPrefix class="mr-2 text-slate-400">badge</mat-icon>
              </mat-form-field>

              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Correo</mat-label>
                <input matInput [value]="trabajadorSeleccionado()?.email || 'Sin correo'" readonly>
                <mat-icon matPrefix class="mr-2 text-slate-400">email</mat-icon>
              </mat-form-field>

              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Teléfono</mat-label>
                <input matInput [value]="trabajadorSeleccionado()?.numeroContacto || 'Sin teléfono'" readonly>
                <mat-icon matPrefix class="mr-2 text-slate-400">phone</mat-icon>
              </mat-form-field>

            </div>
            }

            <div class="flex justify-end pt-4">
              <button mat-flat-button color="primary" matStepperNext [disabled]="datosBasicosForm.invalid"
                class="!rounded-xl !px-12 !py-6 shadow-lg shadow-blue-100" (click)="irAlSiguientePaso()">
                Siguiente paso
              </button>
            </div>

          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="sintomatologiaForm">
        <form [formGroup]="sintomatologiaForm" class=" p-3 md:p-8 flex flex-col gap-6">
          <ng-template matStepLabel>Sintomatología</ng-template>

          <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Diagnóstico Médico / Motivo</mat-label>
              <textarea matInput formControlName="diagnostico" placeholder="Ej: Lumbalgia inespecífica..."
                rows="3"></textarea>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Antecedentes Relevantes</mat-label>
              <textarea matInput formControlName="antecedentes" placeholder="Cirugías, terapias previas..."
                rows="3"></textarea>
            </mat-form-field>
          </div>

          <div
            class="grid grid-cols-1 md:grid-cols-3 gap-2 md:gap-6 items-center bg-slate-50 p-2 md:p-6 rounded-3xl border border-slate-100">

            <div class="flex flex-col gap-2">
              <label class="text-[10px] font-black uppercase text-slate-400 tracking-widest">¿Presenta Dolor?</label>
              <mat-checkbox formControlName="dolor" color="primary" (change)="onDolorChange($event.checked)">
                Sí, manifiesta molestia
              </mat-checkbox>
              <mat-form-field appearance="outline" class="w-full">
                <mat-label>Tipo dolor</mat-label>
                <mat-select formControlName="tipoDolor" (selectionChange)="onTipoDolorChange($event.value)">
                  <!-- (openedChange)="onSelectOpened($event)" -->
                  @for (t of tiposDolores(); track t.id) {
                  <mat-option [value]="t.id">
                    <span class="text-slate-500 ml-2">{{ t.nombre }} </span>
                  </mat-option>
                  } @empty {
                  <mat-option disabled>No se encontraron resultados</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>
            <div class="md:col-span-2">
              <div class="flex justify-between items-center mb-2">
                <label class="text-[10px] font-black uppercase text-slate-400 tracking-widest">Escala Visual Analógica
                  (EVA)</label>
                <span class="text-xl font-black" [ngClass]="getEvaLabelColor()">
                  {{ sintomatologiaForm.get('calificacionEva')?.value }}/10
                </span>
              </div>
              <mat-slider min="0" max="10" step="1" discrete showTickMarks class="w-full"
                [disabled]="!sintomatologiaForm.get('dolor')?.value">
                <input matSliderThumb formControlName="calificacionEva">
              </mat-slider>
              <div class="flex justify-between text-[9px] text-slate-400 font-bold px-1">
                <span>SIN DOLOR</span>
                <span>MODERADO</span>
                <span>INSOPORTABLE</span>
              </div>
            </div>

          </div>

          <div class="flex justify-between mt-6">
            <button mat-button matStepperPrevious type="button" class="!rounded-xl"
              (click)="irAlPasoAtras()">Atrás</button>
            <button mat-flat-button color="primary" matStepperNext
              [disabled]="sintomatologiaForm.invalid || sintomatologiaForm.get('tipoDolor')?.value === 0"
              class="!rounded-xl !px-10 shadow-lg shadow-blue-100" (click)="irAlSiguientePaso()">
              Siguiente
            </button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="biomecanicaGeneralForm">
        <form [formGroup]="biomecanicaGeneralForm" class="p-8 space-y-6">
          <ng-template matStepLabel>Descripción Biomecánica</ng-template>

          <div class="max-w-4xl mx-auto grid grid-cols-2 gap-3">

            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Funciones del Cargo</mat-label>
              <textarea matInput formControlName="funciones" rows="3"
                placeholder="Describa las tareas principales del trabajador..."></textarea>
              <mat-icon matPrefix class="mr-2 text-slate-400">work</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Postura</mat-label>
              <textarea matInput formControlName="postura" rows="3"
                placeholder="Ej: Mantiene postura sedente prolongada con inclinación de tronco..."></textarea>
              <mat-icon matPrefix class="mr-2 text-slate-400">accessibility</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Movimientos</mat-label>
              <textarea matInput formControlName="movimientos" rows="3"
                placeholder="Ej: Movimientos repetitivos de flexo-extensión de muñeca..."></textarea>
              <mat-icon matPrefix class="mr-2 text-slate-400">history</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Cargas</mat-label>
              <textarea matInput formControlName="cargas" rows="3"
                placeholder="Ej: Manipulación manual de cargas de aproximadamente 10kg..."></textarea>
              <mat-icon matPrefix class="mr-2 text-slate-400">fitness_center</mat-icon>
            </mat-form-field>
          </div>

          <div class="flex justify-between mt-6">
            <button mat-button matStepperPrevious type="button" class="!rounded-xl"
              (click)="irAlPasoAtras()">Atrás</button>
            <button mat-flat-button color="primary" matStepperNext [disabled]="biomecanicaGeneralForm.invalid"
              class="!rounded-xl !px-10 shadow-lg shadow-blue-100" (click)="irAlSiguientePaso()">
              Siguiente
            </button>
          </div>
        </form>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Ítems Evaluados</ng-template>

        <div class="p-8 space-y-6">
          <div class="flex justify-between items-center mb-4">
            <div>
              <h3 class="text-lg font-black text-slate-800 uppercase tracking-tighter">Equipos y Herramientas</h3>
              <p class="text-sm text-slate-500">Listado de elementos revisados en esta sesión.</p>
            </div>

            <button mat-flat-button color="primary" (click)="abrirModalAgregarItem()" class="!rounded-xl shadow-md">
              <mat-icon>add</mat-icon> Agregar Nuevo Ítem
            </button>
          </div>

          <app-tabla-maestra titulo="LISTA DE ÍTEMS EVALUADOS" [columnas]="colsItems()" [datos]="itemsEvaluados()"
            (onDelete)="eliminarItem($event)" [mostrarBotonAgregar]="false"
            (onEdit)="abrirModalEditarItem($event)">

            <ng-template #plantillaCelda let-item let-columna="columna">
              @switch (columna.key) {
              @case ('nombre') {

              <div class="flex flex-col">
                <span class="font-bold text-slate-700">{{ item.nombre }}</span>
                <span class="text-[10px] text-slate-400 uppercase tracking-widest">{{ item.material }}</span>
              </div>
              }
              @case ('hallazgos') {
              <div class="flex justify-end items-left gap-2">
                <span class="bg-amber-100 text-amber-700 text-[10px] px-2 py-1 rounded-lg font-black">
                  {{ item.hallazgos.length }} HALLAZGOS
                </span>
              </div>
              }
              @case ('recomendaciones') {
              <div class="flex justify-end items-left gap-2">
                <span class="bg-amber-100 text-amber-700 text-[10px] px-2 py-1 rounded-lg font-black">
                  {{ item.recomendaciones.length }} RECOMENDACIONES
                </span>
              </div>
              }
              @case ('fotos') {
              <div class="flex justify-end items-left gap-2">
                <span class="bg-amber-100 text-amber-700 text-[10px] px-2 py-1 rounded-lg font-black">
                  {{ item.fotos.length }} FOTOS
                </span>
              </div>
              }
              @default {
              <span class="text-sm text-slate-600 px-2 block text-right">{{ item[columna.key] }}</span>
              }
              }
            </ng-template>
          </app-tabla-maestra>

          <div class="flex justify-between mt-6">
            <button mat-button matStepperPrevious type="button" class="!rounded-xl"
              (click)="irAlPasoAtras()">Atrás</button>
            <button mat-flat-button color="primary" matStepperNext [disabled]="itemsEvaluados().length === 0"
              class="!rounded-xl !px-10 shadow-lg shadow-blue-100" (click)="finalizarInspeccion()">
              Guardar Inspección
            </button>
          </div>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
</div>

@if (isLoading()) {
<app-spinner-generico></app-spinner-generico>
}
