<!-- <mat-card class="p-4 shadow-md border-t-4 {{ colorBorder() }}"> -->
<mat-card class="overflow-hidden {{ colorBorder() }} shadow-lg bg-white/90 backdrop-blur-sm rounded-2xl">
  <div class="bg-gradient-to-r from-cyan-400 to-blue-600 p-3 flex justify-between items-center shadow-md">
    <h2 class="text-xl font-extrabold text-white tracking-tight">
      {{ titulo() }}
    </h2>

    <button mat-mini-fab
      class="!bg-white/20 !text-white backdrop-blur-md border border-white/30 hover:!bg-white/40 transition-all"
      (click)="onAdd.emit()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div class="overflow-x-auto">
    <table mat-table [dataSource]="datos()" class="w-full bg-transparent">

      @for (col of columnas(); track (col.key || col)) {
      <ng-container [matColumnDef]="col.key || col">
        <th mat-header-cell *matHeaderCellDef [style.width]="col.width" class="bg-gray-50 font-bold">
          {{ formatHeader(col) }}
        </th>
        <td mat-cell *matCellDef="let element">

          @if (plantillaCelda) {
          <ng-container *ngTemplateOutlet="plantillaCelda; context: { $implicit: element, columna: col }">
          </ng-container>
          } @else {
          {{ element[col] }}
          }

        </td>
      </ng-container>
      }

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef class="bg-gray-50 w-24">Acciones</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="accent" (click)="onEdit.emit(element)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onEdit.emit(row)"
        class="hover:bg-slate-200/50 hover:text-slate-900 hover:font-semibold cursor-pointer transition-all duration-200 text-slate-600">
      </tr>
    </table>

    @if (datos().length === 0) {
    <div class="p-4 text-center text-gray-400">No hay datos registrados.</div>
    }
  </div>
</mat-card>
