<h2 mat-dialog-title class="!font-black !text-slate-800 uppercase tracking-tighter">Detalle del Ítem</h2>

<mat-dialog-content>
  <form [formGroup]="itemForm" class="flex flex-col gap-4 mt-2">

    <mat-form-field appearance="outline">
      <mat-label>Nombre del Ítem</mat-label>
      <input matInput formControlName="nombre">
    </mat-form-field>

    <div class="grid grid-cols-2 gap-4">
      <mat-form-field appearance="outline">
        <mat-label>Material</mat-label>
        <input matInput formControlName="material">
      </mat-form-field>
    </div>

    <div class="p-4 border-2 border-dashed border-slate-200 rounded-2xl">
      <p class="text-xs font-bold text-slate-400 uppercase mb-2">Evidencia Fotográfica</p>
      <input type="file" multiple (change)="onFileSelected($event)" accept="image/*" class="hidden" #fileInput>

      <div class="flex flex-wrap gap-2 mb-4">
        @for (foto of fotos(); track $index) {
        <img [src]="foto" class="w-20 h-20 object-cover rounded-lg shadow-md">
        }
      </div>

      <button mat-stroked-button type="button" class="w-full" (click)="fileInput.click()">
        <mat-icon>camera_alt</mat-icon> Seleccionar Imágenes
      </button>
    </div>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end" class="!pb-6 !px-6">
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-flat-button color="primary" (click)="guardar()" [disabled]="itemForm.invalid">Agregar a
    Inspección</button>
</mat-dialog-actions>
