.container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}
table {
  width: 100%;
}

/* Quitamos la sombra por defecto de mat-table para usar la nuestra */
.mat-elevation-z8 {
    box-shadow: none !important;
}

/* Hacemos que la tabla ocupe todo el ancho */
table {
    width: 100%;
    background: transparent !important;
}

/* Estilo para las líneas divisorias */
.mat-mdc-header-row {
    height: 56px !important;
}

.mat-mdc-row {
    height: 72px !important;
}

/* Asegurar que el icono de material no descuadre el texto */
.mat-icon {
    vertical-align: middle;
}
:host {
  display: block;
  height: 100%;
}

.mat-mdc-row:hover {
  background-color: #f8fafc !important; /* slate-50 */
}

/* Ocultar scrollbar si no se necesita */
.overflow-y-auto::-webkit-scrollbar {
  width: 6px;
}
.overflow-y-auto::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 10px;
}
