<div class="container">
  <h2>Listado de Trabajadores - WorkScan</h2>

  <table mat-table [dataSource]="trabajadores" class="mat-elevation-z8">

    <ng-container matColumnDef="cedula">
      <th mat-header-cell *matHeaderCellDef> Cédula </th>
      <td mat-cell *matCellDef="let t"> {{t.cedula}} </td>
    </ng-container>

    <ng-container matColumnDef="nombres">
      <th mat-header-cell *matHeaderCellDef> Nombres </th>
      <td mat-cell *matCellDef="let t"> {{t.nombres}} {{t.apellidos}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnasVisibles"></tr>
    <tr mat-row *matRowDef="let row; columns: columnasVisibles;"></tr>
  </table>
</div>
